/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark); }

body {
  background: ccc;
  overflow: scrooll;
  overflow-x: hidden; }

/* Grid */
.logo {
  grid-area: logo; }

.nav {
  grid-area: nav; }

.footer {
  grid-area: footer; }

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.4 rem 1.2rem;
  border: 0; }

img {
  max-width: 100%; }

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "main-nav" "top-conteiner" "footer"; }

.main-nav {
  display: grid;
  grid-template-areas: "logo nav nav nav busca";
  box-shadow: var(--shadow);
  align-items: center;
  justify-items: center; }

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr); }

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow); }

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
  box-shadow: var(--shadow); }

.busca {
  display: flex; }

.busca img {
  height: 30px;
  margin-left: 5px; }

.busca input {
  background-color: transparent;
  height: 30px;
  font-size: 13px;
  color: var(--light);
  box-shadow: var(--shadow);
  width: 190px; }

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "banner banner top-box-a" "top-box-b top-box-b top-box-a";
  width: 90%;
  margin: auto; }

/* banner */
.banner {
  grid-area: banner;
  min-height: 130px;
  background: url("../imagens/banner/madara1.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow); }
  .banner:hover {
    opacity: 0.9; }

.banner h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light); }

.banner p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light); }

/* Top Box */
.top-box {
  display: grid;
  align-items: center;
  justify-items: center;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.3rem; }

.top-box-a {
  grid-area: top-box-a; }

.top-box-b {
  grid-area: top-box-b;
  grid-template-columns: repeat(7, 1fr);
  gap: x;
  align-items: center;
  justify-items: center;
  font-size: 0.9rem; }

.top-box .price {
  font-size: 2.5rem; }

.miniatura {
  justify-content: space-between; }
  .miniatura:hover {
    opacity: 0.8; }

.miniatura img {
  height: 140px; }

.miniatura a {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  border: 1px solid #555; }

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*# sourceMappingURL=main.css.map */
